{% extends 'base.html' %} {% block title %}Fridge Raiders
Signup Page{% endblock %} {% block content %}

<h2 class="text-center">
  Register below to become a
  <span class="text-primary"
    >Fridge Raiders <i class="fa-solid fa-carrot"></i
  ></span>
  member
</h2>
<br />
<form method="POST">
  {{form.hidden_tag()}} {% for field in form if
  field.widget.input_type != 'hidden' %}
  {{field.label}}{{field(class_="form-control")}} {% for
  error in field.errors %}
  <span class="text-danger">{{error}}</span> {% endfor %} {%
  endfor %}
  <br />
  <button class="btn btn-primary">JOIN</button>
</form>
{% endblock %}
