{% extends 'base.html' %} {% block title %}Show Chosen
Recipe Details{% endblock %} {% block content %}
<h2 class="text-center">{{recipe['title']}}</h2>
<img
  src="{{recipe['image']}}"
  alt="No description available."
  class="rounded mx-auto d-block"
/>
<p class="text-secondary text-center">
  Source URL:
  <a href="{{recipe['sourceUrl']}}"
    >{{recipe['sourceUrl']}}</a
  >
</p>
<div class="card border-primary">
  <div class="card-body">
    <p>{{recipe['summary']}}</p>
  </div>
</div>
<br />
<h5>Ingredients:</h5>
<ul class="list-group list-group-flush">
  {% for ingredient in recipe['extendedIngredients'] %}
  <li class="list-group-item">
    {{ingredient['original']}}
    <span class="text-primary">
      ---- Add ingredient to shopping list
    </span>
    <a
      href="/shoppinglist/add/{{ingredient['name']}}"
      class="btn btn-sm btn-primary d-sm-inline-flex"
      ><i class="fa-solid fa-square-plus"></i
    ></a>
  </li>
  {% endfor %}
</ul>
<div class="card border-primary">
  <div class="card-body">
    <p>{{recipe['instructions']}}</p>
  </div>
</div>
<a
  href="/recipes/{{recipe['id']}}/similar"
  class="btn btn-secondary"
  >Show Similar Recipes</a
>
{% if saved_recipes != [] %} {% for saved in saved_recipes
%} {% if saved.recipe_id != recipe['id'] %}
<form
  action="/recipes/{{recipe['id']}}/saved"
  method="POST"
  class="d-inline-flex"
>
  <button class="btn btn-primary">SAVE RECIPE</button>
</form>
{% endif %}{% endfor %} {% else %}
<form
  action="/recipes/{{recipe['id']}}/saved"
  method="POST"
  class="d-inline-flex"
>
  <button class="btn btn-primary">SAVE RECIPE</button>
</form>
{% endif %}{% endblock %}
