{% extends 'base.html' %} {% block title %}Show Recipes from
Search{% endblock %} {% block content %}
<h2 class="text-center">
  Your Recipes from
  <span class="text-primary"
    >Fridge Raiders <i class="fa-solid fa-carrot"></i
  ></span>
</h2>
<br>
<div class="container">
{% for recipe in recipes %}
<div class="card text-white bg-primary" style="width: fit-content;">
    <h5 class="card-header">{{recipe['title']}}</h5>
    <img src="{{recipe['image']}}" class="card-img" alt="No description available.">
    <div class="card-footer">
      <a href="/recipes/{{recipe['id']}}" class="card-link text-white">Go to Recipe</a>
    </div>
  </div>
</div>
<br>
  {% endfor %}
</div>

{% endblock %}
